body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

blockquote.frase {
    border-left: none;
    font-style: italic;
}

.carousel-caption {
    bottom: 10px;
    padding-bottom: 0px;
    left: 10px;
    right: 10px;
}

@media screen and (max-width: 767px){
    .carousel-caption{
        font-size: small;
        bottom: 10px;
        padding-bottom: 0px;
    }

    .carousel-caption blockquote.frase{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .carousel-caption {
        bottom: 10px;
        padding-bottom: 0px;
        left: 0px;
        right: 0px;
    }
}

@media screen and (min-width: 768px){
    .carousel-caption blockquote.frase{
        font-size: x-large;
    }
}

@media screen and (min-width: 1024px){
    .carousel-caption blockquote.frase{
        font-size: xx-large;
    }
}