@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/banner1a.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p class="visible-sm-block">&nbsp;</p>
                <p>
                    <blockquote class="frase" id="frase" role="alert">@ViewBag.Frase</blockquote>
                </p>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center; padding: 10px 0px;">
    Copiar y pegar para ganar cualquier discusión online.<br />
    <a class="btn btn-default" onclick="obtenerFrase()">
        Otra
    </a>
    <br />
    <span onclick="cambiarPower()" style="padding: 5px 10px; cursor: pointer;"><input type="checkbox" id="power" onchange="togglePower()" /> REALMENTE QUIERO GANAR!</span>
    <p style="font-size:small; padding: 20px 0px;">El contenido de esta página es provisto para fines <span title="Es una humorada">humorísticos</span>. Las opiniones vertidas no reflejan la opinión de sus creadores.</p>
</div>
@section scripts{
    <script>

        $(function () {
            //obtenerFrase();
        })

        function obtenerFrase() {
            $.getJSON("/home/obtener?_=" + Date.now(), function (data) {
                console.log("Frase recibida", data);
                _fraseExistente = data;
                mostrarFrase();
            });
        }

        function mostrarFrase() {
            if ($('#power')[0].checked) {
                $('#frase').html(_fraseExistente.toUpperCase() + "!!!");
            }
            else {
                $('#frase').html(_fraseExistente);
            }
        }

        function togglePower() {
            mostrarFrase();
        }

        function cambiarPower() {
            $('#power')[0].checked = !$('#power')[0].checked;
            mostrarFrase();
        }
    </script>
}