@using RBBCommentGeneratorWeb.Util
@{
ViewData["Title"] = "Home Page";
}

@section style{
<style>
    .content {
        background-image: url("/images/banner1a.svg");
    }
    .content-tools {
        padding-top: 2%;
    }

    .logo_rbb {
        padding-left: 10%;
        width: 25%;

    }
</style>
}

<div class="row">
    <div class="content">
        <img class="logo_rbb" src="~/images/bandera-y-wea.png" alt="">
    </div>
</div>

<div class="row content-tools">
    <div class="col-md-4">
        Copiar y pegar el siguiente texto para ganar cualquier discusión online.
    </div>
    <div class="col-md-4" style="text-align: center;">
        <span style="padding: 5px 10px; cursor: pointer;"><input type="checkbox" id="power"/> REALMENTE QUIERO
            GANAR!</span>
    </div>
    <div class="col-md-4" style="text-align: right;">
        <a class="btn btn-primary" onclick="obtenerFrase()">
            <i class="glyphicon glyphicon-refresh"></i> Generar otra
        </a>
        <a class="btn btn-success" onclick="mostrarCompartir()">
            <i class="	glyphicon glyphicon-share-alt"></i> Compartir
        </a>
    </div>
</div>

<div class="row">
    <div class="well" style="text-align: center">
        <p>
            <blockquote class="frase" id="frase" role="alert">
                <h3>@ViewBag.Frase</h3>
            </blockquote>
        </p>
    </div>

    <p style="font-size:small; padding: 20px 0px;">El contenido de esta página es provisto para fines <span
            title="Es una humorada">humorísticos</span>. Las opiniones vertidas no reflejan la opinión de sus creadores.
    </p>

</div>



<div id="modal-compartir" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Compartir</h4>
            </div>
            <div class="modal-body">
                <p>Copia y pega la siguiente URL para compartir:</p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-11">
                            <input type="text" id="textSurl" class="form-control" style="max-width: 100%"
                                readonly="readonly" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" onClick="tryCopy()"><span
                                    class="glyphicon glyphicon-copy"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
    _fraseExistente = "";
    _fraseAbbr = "@Html.Raw(ViewBag.FraseShort ?? "")";
    _fraseSurl = "@Html.Raw(ViewBag.Surl ?? "")";
    _baseUrl = "https://rbbcommentgenerator.azurewebsites.net/s/";

    $(function () {
        _fraseExistente = $('#frase').html();
    })

    function obtenerFrase() {
        $.getJSON("/home/obtener?_=" + Date.now(), function (data) {
            console.log("Frase recibida", data);
            _fraseExistente = data.frase;
            _fraseAbbr = data.abbr;
            _fraseSurl = "";
            mostrarFrase();
        });
    }

    function mostrarFrase() {
        if ($('#power')[0].checked) {
            $('#frase').html(_fraseExistente.toUpperCase() + "!!!");
        }
        else {
            $('#frase').html(_fraseExistente);
        }
    }

    $('#power').on('change', function () {
        mostrarFrase();
    });



    function mostrarCompartir() {
        if (_fraseSurl == "") {
            $.post("/home/Surl", { "fraseB64": _fraseAbbr }, function (data) {
                _fraseSurl = data;

                $('#textSurl').val(_baseUrl + data);
                $('#modal-compartir').modal();
            });
        }
        else {
            $('#textSurl').val(_baseUrl + _fraseSurl);
            $('#modal-compartir').modal();
        }
    }

    function tryCopy() {
        var element = document.getElementById("textSurl");

        element.select();

        document.execCommand("copy");
    }
</script>
}