@using RBBCommentGeneratorWeb.Util
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/banner1a.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p class="visible-sm-block">&nbsp;</p>
                <p>
                    <blockquote class="frase" id="frase" role="alert">@ViewBag.Frase</blockquote>
                </p>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center; padding: 10px 0px;">
    Copiar y pegar para ganar cualquier discusión online.<br />
    <a class="btn btn-default" onclick="obtenerFrase()">
        Otra
    </a>
    <a class="btn btn-default" onclick="mostrarCompartir()">
        Compartir
    </a>
    <br />
    <span onclick="cambiarPower()" style="padding: 5px 10px; cursor: pointer;"><input type="checkbox" id="power" onchange="togglePower()" /> REALMENTE QUIERO GANAR!</span>
    <p style="font-size:small; padding: 20px 0px;">El contenido de esta página es provisto para fines <span title="Es una humorada">humorísticos</span>. Las opiniones vertidas no reflejan la opinión de sus creadores.</p>
</div>

<div id="modal-compartir" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Compartir</h4>
            </div>
            <div class="modal-body">
                <p>Copia y pega la siguiente URL para compartir:</p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-11">
                            <input type="text" id="textSurl" class="form-control" style="max-width: 100%" readonly="readonly" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" onClick="tryCopy()"><span class="glyphicon glyphicon-copy"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
        _fraseExistente = "";
        _fraseAbbr = "@Html.Raw(ViewBag.FraseShort ?? "")";
        _fraseSurl = "@Html.Raw(ViewBag.Surl ?? "")";
        _baseUrl = "https://rbbcommentgenerator.azurewebsites.net/s/";

        $(function () {
            _fraseExistente = $('#frase').html();
        })

        function obtenerFrase() {
            $.getJSON("/home/obtener?_=" + Date.now(), function (data) {
                console.log("Frase recibida", data);
                _fraseExistente = data.frase;
                _fraseAbbr = data.abbr;
                _fraseSurl = "";
                mostrarFrase();
            });
        }

        function mostrarFrase() {
            if ($('#power')[0].checked) {
                $('#frase').html(_fraseExistente.toUpperCase() + "!!!");
            }
            else {
                $('#frase').html(_fraseExistente);
            }
        }

        function togglePower() {
            mostrarFrase();
        }

        function cambiarPower() {
            $('#power')[0].checked = !$('#power')[0].checked;
            mostrarFrase();
        }

        function mostrarCompartir() {
            if (_fraseSurl == "") {
                $.post("/home/Surl", { "fraseB64" : _fraseAbbr }, function (data) {
                    _fraseSurl = data;

                    $('#textSurl').val(_baseUrl + data);
                    $('#modal-compartir').modal();
                });
            }
            else {
                $('#textSurl').val(_baseUrl + _fraseSurl);
                $('#modal-compartir').modal();
            }
        }

        function tryCopy() {
            var element = document.getElementById("textSurl");

            element.select();

            document.execCommand("copy");
        }
</script>
}